*,:after,:before{box-sizing:border-box}body{margin:40px auto;max-width:1080px;background-color: #fffff8;color:#444;padding:0 20px;font: 18px/1.2 Georgia,"Times New Roman",Times,serif}h1,h2,h3,h4,h5{line-height:1.2}hr{border:0}hr{border-bottom:3px solid #ddd; margin-top: 30px; margin-bottom: 30px;}input,table{font-size:16px}input,td,th{padding:5px;vertical-align:center}.row{display:block;width:auto;min-height:1px}.row:after, .clearfix{content:"";display:table;clear:both}.row .c{float:left}table,.g2,.g3,.g3-2,.m2,.m3,.m3-2{width:100%}@media (min-width: 954px){.g2{width:48%; margin-right: 1%; margin-left: 1%;}.m2{margin-left:50%}.g3{width:33.33%}.g3-2{width:66.66%}.m3{margin-left:33.33%}.m3-2{margin-left:66.66%}}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: italic;
  margin: 0;
}

hr.total {
  border-bottom: 1px solid #ddd;
  margin-top: 7px;
  margin-bottom: 7px;
}

div.header {
  text-align: center;
  margin-bottom: 30px;
}

g#search {
  fill: #444;
}

div.header p {
  margin-top: 8px;
}

p, label {
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
}

.note {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
}

.filter-items {
  max-height: 200px;
  margin-top: 15px;
  overflow-y: scroll;
  padding-right: 10px;
}

  
.filter-items::-webkit-scrollbar {
  webkit-appearance: none;
  width: 7px;
}

.filter-items::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pull-right {
  float: right;
}

div.box {
  background-color: #e3f1fc;
  padding: 10px;
  margin-bottom: 20px;
}

div.box h2, div.box h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

div.box p {
  margin: 0;
}

div.list-row p {
  margin: 4px auto;
}

a {
  color: steelblue;
}

a:hover {
  color: darkblue;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

div.list-row {
  border-top: 1px solid #ccc;
}

div.box.category {
  position: relative;
}

div.overage {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}
