Django==2.0.1
google-api-python-client==1.6.2
httplib2==0.10.3
mccabe==0.5.3
oauth2client==4.1.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycodestyle==2.2.0
pyflakes==1.3.0
pytz==2017.3
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
uritemplate==3.0.0
