{% load get_pct humanize %}
<div class="box category" style="
	background:
	-webkit-gradient(linear, left top, right top, color-stop({{ category.pct }}%, #b4d1ff), color-stop({{ category.pct }}%, #e3f1fc));
	background: -moz-linear-gradient(left center, #b4d1ff {{ category.pct }}%, #e3f1fc {{ category.pct }}%);
	background: -o-linear-gradient(left, #b4d1ff {{ category.pct }}%, #e3f1fc {{ category.pct }}%);
	background: linear-gradient(to right, #b4d1ff {{ category.pct }}%, #e3f1fc {{ category.pct }}%);">
  {% if category.autopay %}<p class="note">Autopay</p>{% endif %}
  <h3>{{ category.category_name }}: {{ category.pct|floatformat:0|intcomma }}%</h3>
  <p>${{ category.amount_spent|floatformat:0|intcomma }} / ${{ category.amount_budgeted|floatformat:0|intcomma }}</p>
  <p>Total this year: ${{ category.spending_total|floatformat:0|intcomma }}</p>
  <p>Monthly average: ${{ category.monthly_avg|floatformat:0|intcomma }}</p>
  {% if category.pct > 100 %}<div class="overage"></div>{% endif %}
  
  {% if category.ubdis %}
    <div class="ubdi">Includes {{ category.ubdis.count }} unanticipated big-ticket item{{ category.ubdis.count|pluralize }}:
      <ul>
      {% for u in category.ubdis %}
        <li>{{ u.recipient.name }} (${{ u.amount|floatformat:0|intcomma }})</li>
      {% endfor %}
      </ul>
      <p>
        (Without {{ category.ubdis.count|pluralize:"this expense,these expenses" }}, we would be at ${{ category.ubdi_diff|floatformat:0|intcomma }}.)
      </p>
    </div>
  {% endif %}
</div>
