{% load humanize staticfiles get_pct %}
{% now "F" as name_of_this_month %}
{% now "Y" as this_year %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Winchester Family Budget</title>
    <link rel="stylesheet" href="{% static 'budget/css/style.css' %}" />
    </head>
    <body>
      {% if spent_this_month > 0 %}
      <div class="header">
        <h1>The Winchester Family Budget</h1>
        <p>With {{ days_left_this_month }} day{{ days_left_this_month|pluralize }} left in {{ name_of_this_month }}, we've spent <strong>{{ spent_this_month|get_pct:budget_total|floatformat:"0" }} percent</strong> of our monthly budget.</p>
        <p class="note">
          {% if last_updated %}Updated {{ last_updated|timesince }} ago&ensp;&bull;&ensp;{% endif %}<a href="/admin/budget/" target="_blank" title="Add data">Add data</a>
        </p>
      </div>
      <div class="row">
        <div class="c g2">
          {% for category in budget_categories %}
            {% include "budget/category.html" with category=category %}
          {% endfor %}
        </div>
        <div class="c g2">
          <div class="box">
            <h2>Recent spending</h2>
            {% for spending in recent_spending %}
              <div class="list-row">
                <p>
                {{ spending.spending_date|date:"N j" }} - {{ spending.recipient }}
                <span class="pull-right">
                  ${{ spending.amount|intcomma }}
                </span>
              </p>
              </div>
              <div class="clearfix"></div>
            {% endfor %}
            <hr>
            <h2>{{ this_year }} balance</h2>
            <p>
              Earned
              <span class="pull-right">${{ earned_this_year|apnumber|intcomma }}</span>
            </p>
            <p>
              Spent
              {% if savings_this_year %}<span class="note">Includes ${{ savings_this_year|apnumber|intcomma }} transferred to savings</span>{% endif %}
              <span class="pull-right">- ${{ spent_this_year|apnumber|intcomma }}</span>
            </p>
            <hr class="total">
            <p class="pull-right"><strong>${{ balance_this_year|intcomma }}</strong></p>
            <hr>
            <h2>Recipients</h2>
            <label for="filter">
              {% include "budget/svgs/magnifying-glass.html" %} Filter
              <input id="filter" type="text" />
            </label>
            <p class="pull-right" style="margin:0; padding-right: 17px; margin-top: 3px;">
              <strong>Total</strong>
            </p>
            <div class="clearfix"></div>
            <div class="filter-items">
            {% for recipient in recipients_with_totals %}
              {% if recipient.total_sum %}
              <div class="filter-item list-row" data-filter="{{ recipient.name|upper }}">
                <p>{{ recipient.name }}
                  <span class="pull-right">${{ recipient.total_sum|floatformat:0|intcomma }}</span>
                </p>
                <div class="clearfix"></div>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% include "budget/filter.html" %}
      {% else %}
        <p>No spending yet this month.</p>
      {% endif %}
    <script>
      console.info('  All-time income: ${{ all_time_income|intcomma }}');
      console.info('All-time spending: ${{ all_time_spending|intcomma }}');
      console.info('              ----------------');
      console.info('              Balance: ${{ all_time_balance|intcomma }}')
    </script>
    </body>
</html>
