{% extends 'budget/base.html' %}
{% load humanize choropleth_month_box %}

{% block title %}{{ display_date }} {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1 style="padding: 15px; margin: 0 0 15px 0; background: -webkit-gradient(linear, left top, right top, color-stop({{monthly_diff_pct}}%, {{ monthly_col_accent }}), color-stop({{monthly_diff_pct}}%, #f7f7f7)); background: -moz-linear-gradient(left center,{{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); background: -o-linear-gradient(left, {{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); background: linear-gradient(to right, {{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); border-left: 5px solid {{ monthly_col }}">
            <strong>{{ display_date|date:"F" }} <a href="{% url 'year-view' display_date.year %}">{{ display_date|date:"Y" }}</a></strong>: ${{ total_sum|intcomma }} / ${{ monthly_budget_total|apnumber|intcomma }}
            </h1>
            
            <div class="day-of-month-wrapper">
                {% for day in spending_by_time %}
                    <a class="day-of-month no-touchy" style="color: {{ day.amount|textcolor:"100" }}; background: {{ day.amount|choropleth_month_box:monthly_col }}" title="${{ day.amount|intcomma }}" data-toggle="tooltip" data-placement="top" href="{% url 'day-view' day.day.year day.day.month day.day.day %}">{{ day.day|date:"j" }}</a>
                {% endfor %}
            </div>
            {% if previous or next %}
                <div style="margin-top: 20px;">            
                {% if previous %}
                <a role="button" class="sm-muted-button pull-left notouchy" href="{% url 'month-view' previous.year previous.month %}"><i class="fa fa-arrow-left"></i>&ensp;{{ previous.verbose_month }} {{ previous.year }}</a></p>
                {% endif %}
                {% if next %}
                <a role="button" class="sm-muted-button pull-right notouchy" href="{% url 'month-view' next.year next.month %}">{{ next.verbose_month }} {{ next.year }}&ensp;<i class="fa fa-arrow-right"></i></a></p>
                {% endif %}
                </div>
            {% endif %}
        
        </div>
        <div class="col-sm-4 col-md-offset-1">
            <div class="sider">
            {% include 'budget/search-sidebar.html' %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}