{% extends 'budget/base.html' %}
{% load humanize month_from_string %}

{% block title %}{{ latest.first.recipient|lower }} {% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
    <div class="col-sm-8">
        <h1 style="padding: 15px; margin: 0; background: -webkit-gradient(linear, left top, right top, color-stop({{pct_of_total_spending}}%, #c6e6c6), color-stop({{pct_of_total_spending}}%, #f7f7f7)); background: -moz-linear-gradient(left center,#c6e6c6 {{pct_of_total_spending}}%, #f7f7f7 {{pct_of_total_spending}}%); background: -o-linear-gradient(left, #c6e6c6 {{pct_of_total_spending}}%, #f7f7f7 {{pct_of_total_spending}}%); background: linear-gradient(to right, #c6e6c6 {{pct_of_total_spending}}%, #f7f7f7 {{pct_of_total_spending}}%);">About <span class="bold">{{ pct_of_total_spending|floatformat:"0" }}%</span> of all the money you spend goes to {{ latest.first.recipient }}.</h1>

        <h3 class="bold" style="margin: 50px auto 15px auto;">Total: ${{ spending_total|intcomma }}</h3>

        <canvas id="spending_by_month_chart" width="400" height="150"></canvas>

        <h3 class="bold" style="margin: 50px auto 15px auto;">Recent spending: {{ latest.first.recipient }}</h3>
        <table class="table">
            <thead>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Amount
                </th>
            </thead>
            <tbody>
                {% for spending_item in latest %}
                <tr>
                    <td>
                        <a href="{% url 'day-view' spending_item.spending_date.year spending_item.spending_date.month spending_item.spending_date.day %}">{{ spending_item.spending_date }}</a>
                    </td>
                    <td>
                        <a href="{% url 'category-view' spending_item.cat.pk %}">{{ spending_item.cat.category }}</a>
                    </td>
                    <td>
                        <a href="{% url 'expense-view' spending_item.pk %}">${{ spending_item.amount|intcomma }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    <div class="col-sm-4">
        <div class="sider">
        {% include 'budget/search-sidebar.html' %}
        </div>
        <div class="sider">
        {% include 'budget/category-sidebar.html' %}
        </div>
    </div>

    </div>
    
{% endblock %}

{% block js %}
<script>
var ctx = document.getElementById("spending_by_month_chart");

var spending_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for spending in spending_by_month %}"{{ spending.month|monthyear }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
        datasets: [{
            label: 'Spending',
            data: [{% for spending in spending_by_month %}{{ spending.amount__sum }}{% if not forloop.last %}, {% endif %}{% endfor %}],
            backgroundColor: '#398439',
            hoverBackgroundColor: '#398439'
        }]
    },
    options: {
        legend: {
            display: false
        },
        tooltips: {
            enabled: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    callback: function(value, index, values) {
                        return '$' + addCommas(value);
                    }
                },
                gridLines: {
                    drawBorder: false,
                    color: '#f7f7f7',
                    zeroLineWidth: 0.2,
                    zeroLineColor: '#f7f7f7'
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    zeroLineWidth: 0.2,
                    zeroLineColor: '#f7f7f7'
                }
            }]
        }
    }
});
</script>
{% endblock %}