{% extends 'budget/base.html' %}
{% load humanize %}

{% block title %}{{ display_date }} {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            
            {% if time_value == "month" %}
        <div class="alert alert-{% if monthly_diff_pct <= 100 %}success{% else %}danger{% endif %}" role="alert">
           {% if monthly_diff_pct <= 100 %}<strong><i class="fa fa-thumbs-o-up"></i> Congrats</strong> &mdash; you met your budget this month.{% else %}<strong><i class="fa fa-thumbs-o-down"></i> Sad trombone</strong> &mdash; you went over budget this month.{% endif %}
        </div>
            <h1 style="padding: 15px; margin: 0 0 15px 0; background: -webkit-gradient(linear, left top, right top, color-stop({{monthly_diff_pct}}%, {{ monthly_col_accent }}), color-stop({{monthly_diff_pct}}%, #f7f7f7)); background: -moz-linear-gradient(left center,{{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); background: -o-linear-gradient(left, {{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); background: linear-gradient(to right, {{ monthly_col_accent }} {{monthly_diff_pct}}%, #f7f7f7 {{monthly_diff_pct}}%); border-left: 5px solid {{ monthly_col }}">
            <strong>{{ display_date }}</strong>: ${{ total_sum|intcomma }} / ${{ monthly_budget_total|apnumber|intcomma }}
            </h1>
            
            {% else %}
            <h1 style="margin-top:0;"><strong>{{ display_date }}</strong>: ${{ total_sum|intcomma }}</h1>
            
            {% endif %}
            
            {% if time_value == "month" or time_value == "year" %}
            <canvas id="spending_by_time_chart" width="400" height="{% if time_value == 'year' %}150{% else %}200{% endif %}" style="margin-top:30px;"></canvas>
            {% endif %}
            
            
            {% if time_value == "day" %}
            <table class="table" style="margin-top:25px;">
                {% for spend in spending %}
                <tr>
                    <td{% if forloop.first and spending|length > 1 %} style="border-top:none;"{% endif %}>
                        <a href="{% url 'expense-view' spend.pk %}">${{ spend.amount|intcomma }}</a>
                    </td>
                    <td{% if forloop.first and spending|length > 1 %} style="border-top:none;"{% endif %}>
                        <a href="{% url 'recipient-view' spend.recipient.pk %}">
                        {{ spend.recipient.name }}
                        </a>
                    </td>
                    <td{% if forloop.first and spending|length > 1 %} style="border-top:none;"{% endif %}>
                        <a href="{% url 'category-view' spend.cat.pk %}">
                        {{ spend.cat.category }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            {% if previous or next %}
            <div style="margin-top: 20px;">            
            {% if previous %}
            <a role="button" class="sm-muted-button pull-left" href="{% url 'day-view' previous.spending_date.year previous.spending_date.month previous.spending_date.day %}"><i class="fa fa-arrow-left"></i>&ensp;Previous</a></p>
            {% endif %}
            {% if next %}
            <a role="button" class="sm-muted-button pull-right" href="{% url 'day-view' next.spending_date.year next.spending_date.month next.spending_date.day %}">Next&ensp;<i class="fa fa-arrow-right"></i></a></p>
            {% endif %}
            </div>
            
            {% endif %}
            

            {% elif time_value == "month" %}
            

            {% for thing in spending_by_time %}
            <div class="row">
                <div class="col-xs-12">
                    <h3><a href="{% url 'day-view' thing.day.year thing.day.month thing.day.day %}">{{ thing.day|date:"F j" }}</a>: ${{ thing.amount|intcomma }}</h3>
                    {% for s in spending_by_day %}
                        {{ s }}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            
            


            {% elif time_value == "year" %}
            year
            
            {% endif %}
        
        </div>
        <div class="col-sm-4 col-md-offset-1">
            <div class="sider">
            {% include 'budget/search-sidebar.html' %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% if time_value == "month" or time_value == "year" %}
{% block js %}
<script>

var ctx = document.getElementById("spending_by_time_chart");
{% if time_value == "month" %}
var data = {
    "year": {{ spending_by_time.0.day.year }},
    "month": {{ spending_by_time.0.day.month }},
    "display_month": "{{ spending_by_time.0.day|date:"F" }}",
    "spending_by_day": [
            {% for thing in spending_by_time %}
            {
                "day": {{ thing.day.day }},
                "total": {{ thing.amount }},
                "spending": [
                    {% for spend in thing.spending %}{
                        "recipient_pk": {{ spend.recipient_pk }},
                        "recipient": "{{ spend.recipient }}",
                        "amount": {{ spend.amount }},
                        "expense_pk": {{ spend.expense_pk }},
                        "category_pk": {{ spend.category_pk }},
                        "category": "{{ spend.category|safe }}",
                    }{% if not forloop.last %},
                    {% endif %}{% endfor %}
                ]
            }{% if not forloop.last %},{% endif %}{% endfor %}
    ]
}

var chart_labels = _.pluck(data.spending_by_day, "day");
var chart_data = _.pluck(data.spending_by_day, "total");

var spending_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: chart_labels,
        datasets: [
        {
            label: 'Spending',
            data: chart_data,
            backgroundColor: '{{monthly_col}}',
            hoverBackgroundColor: '{{monthly_col}}'
        }
        ]
    },
    options: {
        legend: {
            display: false
        },
        tooltips: {
            enabled: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    callback: function(value, index, values) {
                        return '$' + addCommas(value);
                    }
                },
                gridLines: {
                    drawBorder: false,
                    color: '#f7f7f7',
                    zeroLineWidth: 0.2,
                    zeroLineColor: '#f7f7f7'
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    zeroLineWidth: 0.2,
                    zeroLineColor: '#f7f7f7'
                }
            }]
        }
    }
});
{% elif time_value == "year" %}


{% endif %}

</script>
{% endblock %}
{% endif %}